.contentCon[data-state='close'] {
    width: 50px;
    height: 50px;
    background: white;
}
.contentCon[data-state='open'] {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 200;
}
.contentCon[data-state='open'] .closeBox {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}
.contentCon[data-state='open'] .closeImg {
    width: 100%;
    height: 100%;
}