.contentCon {
    transition-duration: 1s;
}
.contentCon[data-state='close'] {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
}
.contentCon[data-state='open'] {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    z-index: 200;
}
.contentCon[data-state='open'] .closeBox {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}
.contentCon[data-state='open'] .closeImg {
    width: 100%;
    height: 100%;
}