.rowSpace {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.rowSpace .row {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}
.rowText {
    position: absolute;
    font-size: 200px;
    font-weight: 900;
    transition: 3s linear;
}
/* 임시 색깔 클래스 */
.rowSpace .row:nth-child(1) { background: red; }
.rowSpace .row:nth-child(2) { background: orange; }
.rowSpace .row:nth-child(3) { background: yellow; }
.rowSpace .row:nth-child(4) { background: green; }
.rowSpace .row:nth-child(5) { background: blue; }
.rowSpace .row:nth-child(6) { background: navy; }
.rowSpace .row:nth-child(7) { background: purple; }
.rowSpace .row:nth-child(8) { background: white; }