@keyframes moveTop-ani{
    from{
        bottom: 100rem;
    }
    to{
        bottom: -100rem;
    }
}
@keyframes moveBottom-ani{
    from{
        top: 100rem;
    }
    to{
        top: -100rem;
    }
}
@keyframes moveLeft-ani{
    from{
        right: 50rem;
    }
    to{
        right: -150rem;
    }
}
@keyframes moveRight-ani{
    from{
        left: 50rem;
    }
    to{
        left: -150rem;
    }
}
.rowSpace {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.rowSpace .row {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}
.rowEven {
    background: #efefef;
}
.rowOdd {
    background: #e8e8e8;
}
.rowText {
    position: absolute;
    font-size: 10vw;
    font-weight: 900;
}
/* 임시 색깔 클래스 */
/* .rowSpace .row:nth-child(1) { background: red; } */
/* .rowSpace .row:nth-child(2) { background: orange; } */
/* .rowSpace .row:nth-child(3) { background: yellow; } */
/* .rowSpace .row:nth-child(4) { background: green; } */
/* .rowSpace .row:nth-child(5) { background: blue; } */
/* .rowSpace .row:nth-child(6) { background: navy; } */
/* .rowSpace .row:nth-child(7) { background: purple; } */
/* .rowSpace .row:nth-child(8) { background: yellowgreen; } */

.rowText[data-direction='Top'] { 
    animation: moveTop-ani 10s infinite linear;
    writing-mode: vertical-rl;
}
.rowText[data-direction='Bottom'] { 
    animation: moveBottom-ani 10s infinite linear; 
    writing-mode: vertical-rl;
}
.rowText[data-direction='Left'] {
    animation: moveLeft-ani 10s infinite linear;
}
.rowText[data-direction='Right'] {
    animation: moveRight-ani 10s infinite linear;
}