@media screen and (max-width: 1080px) {
  .textRow {
    display: none;
  }
  .galleryImg {
    background-position-y: 40%;
  }
  .journalSquare {
    width: 70vw;
    height: 80vw;
  }
  .journalSquare .journalImage {
    width: 120px;
    height: 363px;
  }
  .journalTitle {
    font-size: 3rem;
  }
  .journalSubtitle {
    font-size: 1rem;
  }
  .closeBox {
    width: 25px;
    height: 25px;
  }
  .closeBox .closeImg {
    opacity: 1;
  }
}