.contentCon {
  position: relative;
  transition-duration: 1s;
  overflow: hidden;
}

.contentCon[data-state='close'] {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
}

.contentCon[data-state='open'] {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  z-index: 200;
}

.contentCon[data-state='open'] .closeBox {
  opacity: 100%;
}

.contentCon[data-state='open'] .closeBox:hover>.closeImg {
  opacity: 100%;
}

.closeBox {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  cursor: none;
  opacity: 0%;
  transition-duration: 0.5s;
  z-index: 200;
}

.closeBox .closeImg {
  width: 100%;
  height: 100%;
  opacity: 0%;
  transition-duration: 0.5s;
  filter: invert(100%);
}

.contentItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0%;
}

.contentCon[data-open-index='1'] .contentItem1,
.contentCon[data-open-index='2'] .contentItem2,
.contentCon[data-open-index='3'] .contentItem3,
.contentCon[data-open-index='4'] .contentItem4,
.contentCon[data-open-index='5'] .contentItem5 {
  opacity: 100%;
  z-index: 100;
}

/* ----- content1 ----- 사진 좌우 나눠서 마우스 올리면 다양한 필터 넣어주기 */
.contentCon[data-open-index='1'] .contentItem1 {}

.contentCon .contentItem1 {}

.contentItem1 .monaCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/mona.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contentItem1 .monaCon .monaFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vmax;
  height: 30vmax;
  transform: translate(-50%, -30%);
}
.contentItem1 .monaCon .monaDesc {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 2s;
}
.contentItem1 .monaCon .monaDesc h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Gugi', cursive;
}
.contentItem1 .monaCon .monaDesc h1 span {
  color: crimson;
}
.contentItem1 .monaCon .monaDesc p {
  margin-top: 30px;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Gugi', cursive;
  line-height: 2rem;
}
.contentCon[data-open-index='1'] .monaDesc{
  opacity: 100%;
  transform: translateY(0);
}


.contentItem1 .monaCon .monaDesc p span {
  font-size: 12px;
  font-weight: 0;
}

.geometryCon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(-100%);
  transition-duration: 1s;
  background: #222;
}
.geometryCon.activate {
  transform: translate(0%);
}
.geometryItem {
  position: absolute;
  width: 50vw;
  height: 50vw;
}
.geometryImg {
  
}
/* ----- content2 ----- 미끄럼틀 영상 - 유튜브 느낌 */
.contentCon[data-open-index='2'] .contentItem2 {}

.contentCon .contentItem2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCon .backImage {
  position: absolute;
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  background-image: url('../images/youtube_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  z-index: -1;
}

.contentItem2 .youtubeCon {
  width: 60vmax;
  height: 40vmax;
  border: 1px solid black;
  overflow: scroll;
}

.youtubeHeader {
  width: 100%;
  height: 3.5vmax;
  background: white;
}

.youtubeHeader .youtubeLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vmax;
  height: 100%;
}

.youtubeHeader .youtubeLogo .logo {
  width: 66%;
  height: 44%;
  background-image: url('../images/youtube_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.youtubeVideo {
  width: 100%;
  background: white;
}

.youtubeVideo hr {
  width: 95%;
  margin: 0 0 0 2.5%;
  border: 1px solid #ddd;
}

.youtubeVideo .videoCon {
  width: 100%;
  height: 30vmax;
  background: black;
}

.youtubeVideo .videoCon .video {
  width: 100%;
  height: 100%;
}

.youtubeVideo .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.youtubeVideo .info .title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vmax;
  font-size: calc(1vw + 10px);
  padding-left: 20px;
}

.youtubeVideo .info .visited {
  display: flex;
  align-items: center;
  height: 3vmax;
  padding-left: 20px;
  font-size: calc(1vw + 6px);
}

.youtubeVideo .info .likeBox {
  display: flex;
  align-items: center;
  height: 3vmax;
}

.youtubeVideo .info .likeBox li {
  display: flex;
  align-items: center;
  width: 8.5vmax;
  max-width: 100px;
  font-size: calc(0.8vw + 6px);
}

.youtubeVideo .info .likeBox li img {
  width: calc(0.8vw + 6px);
  height: calc(0.8vw + 6px);
  margin-right: 10px;
}

.youtubeVideo .channel {
  display: flex;
  width: 100%;
  height: 5vmax;
}

.youtubeVideo .channel .channelImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  padding-left: 2.5%;
}

.youtubeVideo .channel .channelImg figure {
  width: 3.6vmax;
  height: 3.6vmax;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-image: url('../images/channelImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.youtubeVideo .channel .channelName {
  display: flex;
  align-items: center;
  width: 75%;
  padding-left: 10px;
  font-size: calc(0.8vw + 8px);
  font-weight: 600;
}

.youtubeVideo .channel .channelSub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.youtubeVideo .channel .channelSub .subscribeBtn {
  width: 5.2vw;
  height: 2.8vw;
  min-width: 52px;
  min-height: 28px;
  border: none;
  background: crimson;
  color: white;
}

.youtubeVideo .channel .channelSub .subscriber {
  background: #eee;
  color: #aaa;
}

.youtubeAnother {
  display: none;
}

.youtubeComment {
  width: 100%;
  background: white;
}

.youtubeComment .commentList {
  width: 95%;
  margin-left: 2.5%;
}

.youtubeComment .commentList .commentInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7vmax;
  min-height: 100px;
}

.commentList .commentInput .commentText {
  width: 90%;
  height: 1.5vmax;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #ddd;
  margin-bottom: 1.5vmax;
}

.commentList .commentInput .inputButtons {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  gap: 10px;
}

.commentSubmit,
.commentCancel {
  width: 4.4vmax;
  height: 2.2vmax;
  min-width: 66px;
  min-height: 33px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: none;
}

.commentSubmit {
  color: #aaa;
  background-color: #eee;
}

.activeSubmit {
  color: white;
  background-color: dodgerblue;
}

.commentCancel {
  color: #888;
  background-color: white;
}

.youtubeComment .commentList .commentItem {
  display: flex;
  width: 100%;
  height: 5vmax;
  min-height: 60px;
}

.commentList .commentInput .commentImageCon,
.commentList .commentItem .commentImageCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.commentImageCon img {
  width: 3.4vmax;
  height: 3.4vmax;
}

.commentList .commentItem .commentWordCon {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.commentWordCon .nickname {
  height: 1.7vmax;
  line-height: 1.7vmax;
  color: #888;
}

.commentWordCon .nickname #commnetName {
  font-weight: 600;
  color: #000;
}

.commentWordCon .commentWord {
  height: 1.7vmax;
  line-height: 1.7vmax;
}


/* ----- content3 -----  */
.contentCon[data-open-index='3'] .contentItem3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.keyboardCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.keyboardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.keyboardItem {
  float: left;
}
.keyboardItemPC {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 5px #888;
  text-align: center;
  line-height: 80px;
}
.keyboardItemPC:hover {
  box-shadow: inset 4px 4px 5px #888;
}
.keyboardItemMobile {
  padding: 30px;
}

/* ----- content4 ----- 도넛 먹방 - 인스타 라이브 */
.contentCon[data-open-index='4'] .contentItem4 {}

.contentCon .contentItem4 {
  background: dodgerblue;
  perspective: 3000px;
}

.instaBox {
  position: absolute;
  top: calc(50% - 22.5vmax);
  left: calc(50% - 14vmax);
  width: 28vmax;
  height: 45vmax;
  transform-style: preserve-3d;
}

.instaCon {
  width: 100%;
  height: 100%;
  background-image: url('../images/instagram_frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}

.instaCon .instaItemCon {
  position: absolute;
  top: 7.2vmax;
  left: 0.9vmax;
  width: 26.2vmax;
  height: 26.5vmax;
  overflow: hidden;
}

.instaCon .instaItemCon .instaItems {
  display: inline-flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.instaCon .instaItems .instaItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
}

.instaItem img,
.instaItem video {
  /* width: 100%; */
  height: 100%;
}

.instaHeart {
  position: absolute;
  top: 34.4vmax;
  left: 1.5vmax;
  width: 2.4vmax;
  height: 1.8vmax;
}

.instaNumbers {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 34.5vmax;
  left: 12vmax;
  width: 4vmax;
}

.instaNumber {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background: #aaa;
}

.numberSelected {
  background: dodgerblue;
}

/* 인스타 3d 박스 형태 */
.instaShape {
  position: absolute;
  background: #fff;
  border: 1px solid black;
}

.instaFront {
  position: absolute;
}

.instaTop {
  top: 0;
  width: 100%;
  height: 50px;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.instaBottom {
  bottom: 0;
  width: 100%;
  height: 50px;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.instaLeft {
  left: 0;
  width: 50px;
  height: 100%;
  transform: rotateY(90deg);
  transform-origin: left;
}

.instaRight {
  right: 0;
  width: 50px;
  height: 100%;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.instaBack {
  width: 100%;
  height: 100%;
  transform: translateZ(-50px);
  background-image: url('../images/geometry.png');
  background-position: center center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

/* ----- content5 ----- 지하철 생일 축하 문구 패러디 */
.contentCon[data-open-index='5'] .contentItem5 {}

.contentCon .contentItem5 .campbellsCon {
  width: 100%;
  height: 100%;
  background-image: url('../images/campbells.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contentCon .contentItem5 .personCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes person001-walking-ani {
  from{ background-position-x: 0px; }
  to{ background-position-x: -2000px; }
}
@keyframes person002-walking-ani {
  from{ background-position-x: 0px; }
  to{ background-position-x: -2720px; }
}
@keyframes person003-walking-ani {
  from{ background-position-x: 0px; }
  to{ background-position-x: -470px; }
}
@keyframes person004-walking-ani {
  from{ background-position-x: 0px; }
  to{ background-position-x: -7200px; }
}
@keyframes person005-walking-ani {
  from{ background-position-x: 0px; }
  to{ background-position-x: -312px; }
}
.personCon .person {
  position: absolute;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.personCon .person001 {
  width: 250px;
  height: 460px;
  background-image: url('../images/person001.png');
}
.personCon .person002 {
  width: 340px;
  height: 440px;
  background-image: url('../images/person002.png');
}
.personCon .person003 {
  width: 157px;
  height: 160px;
  background-image: url('../images/person003.png');
}
.personCon .person004 {
  width: 720px; /*120*/
  height: 240px; /*40*/
  background-image: url('../images/person004.png');
}
.personCon .person005 {
  width: 24px;
  height: 24px;
  background-image: url('../images/person005.png');
}
.personCon .person006 {
  width: 24px;
  height: 24px;
  background-image: url('../images/person006.png');
}
.person001.walking {
  animation: person001-walking-ani infinite 2s steps(8);
}
.person002.walking {
  animation: person002-walking-ani infinite 2s steps(8);
}
.person003.walking {
  animation: person003-walking-ani infinite 0.3s steps(3);
}
.person004.walking {
  animation: person004-walking-ani infinite 0.3s steps(10);
}
.person005.walking, .person006.walking {
  animation: person005-walking-ani infinite 0.3s steps(13);
}
.person .reply {
  position: absolute;
  width: 140px;
  left: 50%;
  top: 0;
  padding: 15px;
  transform: translate(-50%, -40%);
  transition-duration: 1s;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 3px solid #000;
  font-family: 'Poor Story', cursive;
  opacity: 0;
  /* display: none; */
}
.person .reply.visible{
  transform: translate(-50%, -120%);
  opacity: 1;
  /* display: initial; */
}