.contentCon {
    position: relative;
    transition-duration: 1s;
    overflow: hidden;
}
.contentCon[data-state='close'] {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
}
.contentCon[data-state='open'] {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    z-index: 200;
}
.contentCon[data-state='open'] .closeBox {
    opacity: 100%;
}
.contentCon[data-state='open'] .closeBox:hover>.closeImg{
    opacity: 100%;
}
.closeBox {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    cursor: none;
    opacity: 0%;
    transition-duration: 0.5s;
    z-index: 200;
}
.closeBox .closeImg {
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition-duration: 0.5s;
    filter: invert(100%);
}
.contentItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0%;
}
.contentCon[data-open-index='1'] .contentItem1,
.contentCon[data-open-index='2'] .contentItem2,
.contentCon[data-open-index='3'] .contentItem3,
.contentCon[data-open-index='4'] .contentItem4,
.contentCon[data-open-index='5'] .contentItem5 {
    opacity: 100%;
    z-index: 100;
}

/* ----- content1 ----- 사진 좌우 나눠서 마우스 올리면 다양한 필터 넣어주기 */
.contentCon[data-open-index='1'] .contentItem1 {
}
.contentCon .contentItem1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contentCon .contentItem1 .filterLeft,
.contentCon .contentItem1 .filterRight {
    width: 50%;
    height: 100%;
    background-image: url('/src/images/gallery001.JPG');
    background-position-y: -22vw;
    background-repeat: no-repeat;
    background-size: 200%;
    filter: grayscale(50%);
    transition-duration: 2s;
}
.contentCon .contentItem1 .filterLeft{
    background-position-x: 0vw;
}
.contentCon .contentItem1 .filterRight {
    background-position-x: -50vw;
}

/* ----- content2 ----- 미끄럼틀 영상 - 유튜브 느낌 */
.contentCon[data-open-index='2'] .contentItem2 {
}
.contentCon .contentItem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/images/youtube_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contentItem2 .youtubeCon {
    width: 60vmax;
    height: 40vmax;
    border: 1px solid black;
    overflow: scroll;
}
.youtubeHeader {
    width: 100%;
    height: 10%;
    background: white;
}
.youtubeHeader .youtubeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.youtubeHeader .youtubeLogo .logo {
    width: 60%;
    height: 40%;
    background-image: url('/src/images/youtube_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.youtubeVideo {
    width: 100%;
    height: 115%;
    background: white;
}
.youtubeVideo hr {
    width: 95%;
    margin: 0 0 0 2.5%;
    border: 1px solid #ddd;
}
.youtubeVideo .videoCon {
    width: 100%;
    height: 70%;
    background: black;
}
.youtubeVideo .videoCon .video {
    width: 100%;
    height: 100%;
}
.youtubeVideo .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 15%;
}
.youtubeVideo .info .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: calc(1vw + 10px);
    padding-left: 20px;
}
.youtubeVideo .info .visited {
    display: flex;
    align-items: center;
    height: 40%;
    padding-left: 20px;
    font-size: calc(1vw + 6px);
}
.youtubeVideo .info .likeBox {
    display: flex;
    align-items: center;
    height: 40%;
}
.youtubeVideo .info .likeBox li {
    display: flex;
    align-items: center;
    width: 8.5vmax;
    max-width: 100px;
    font-size: calc(0.8vw + 6px);
}
.youtubeVideo .info .likeBox li img {
    width: calc(0.8vw + 6px);
    height: calc(0.8vw + 6px);
    margin-right: 10px;
}
.youtubeVideo .channel {
    display: flex;
    width: 100%;
    height: 15%;
}
.youtubeVideo .channel .channelImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-left: 10px;
}
.youtubeVideo .channel .channelImg figure {
    width: 3.8vw;
    height: 3.8vw;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    background-image: url('/src/images/channelImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.youtubeVideo .channel .channelName {
    display: flex;
    align-items: center;
    width: 75%;
    padding-left: 10px;
    font-size: calc(0.8vw + 8px);
    font-weight: 600;
}
.youtubeVideo .channel .channelSub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.youtubeVideo .channel .channelSub button {
    width: 5.2vw;
    height: 2.8vw;
    min-width: 52px;
    min-height: 28px;
    border: none;
    background: crimson;
    color: white;
}
.youtubeAnother {
    display: none;
}
.youtubeComment {
    width: 100%;
    height: 50%;
    background: white;
}

/* ----- content3 ----- 중력 볼, 얼굴 - 클릭하면 추가, 클릭하면 없어짐 */
.contentCon[data-open-index='3'] .contentItem3 {
}

/* ----- content4 ----- 도넛 먹방 - 인스타 라이브 */
.contentCon[data-open-index='4'] .contentItem4 {
}

/* ----- content5 ----- 지하철 생일 축하 문구 패러디 */
.contentCon[data-open-index='5'] .contentItem5 {
}